footer {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	.inner {
		width: 1180px;
		margin: 0 auto;
		padding: 50px 0;

		ul {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			li {
				position: relative;

				&:not(:last-child) {
					margin-right: 100px;
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						right: -50px;
						transform: translateY(-50%);
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: #999;
					}
				}

				a {
					font-size: 18px;
					font-weight: bold;
				}
			}
		}

		.footer-info {
			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;
			letter-spacing: -0.03em;
			color: #666;
			address {
				font-style: initial;
			}
		}

		span {
			display: flex;
			justify-content: center;
			color: #888;
			font-size: $fontS;
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		.inner {
			width: 100%;

			ul {
				flex-wrap: wrap;
				li {
					&:not(:last-child) {
						margin-right: 30px;
						&::after {
							content: '';
							display: none;
						}
					}

					a {
						font-size: 14px;
					}
				}
			}

			.footer-info {
				flex-wrap: wrap;
				address {
					margin-bottom: 20px;
					font-size: 14px;
				}

				p {
					font-size: 14px;
				}
			}

			span {
				font-size: 14px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	footer {
		.inner {
			padding: 50px 20px;

			ul {
				flex-direction: column;
				align-items: center;
				li {
					&:not(:last-child) {
						margin-right: 0;
						margin-bottom: 20px;
					}

					&:hover a {
						border-bottom: 1px solid #888;
					}

					a {
						font-size: 14px;
					}
				}
			}

			.footer-info {
				flex-wrap: wrap;
				flex-direction: column;
				align-items: center;

				p {
					margin-bottom: 20px;
				}
			}

			span {
				text-align: center;
			}
		}
	}
}
