* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
}

ul,
ol,
li {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
	color: #000;
}
