.content {
	width: 100%;
	position: relative;
	z-index: 1;
	&::after {
		content: '';
		display: block;
		clear: both;
	}
	.title {
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		h2 {
			color: $text;
			font-size: $fontXXXL;
			font-family: 'Montserrat', sans-serif;
		}
	}

	.inner {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		padding-top: 200px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}
}
