figure.Vid {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgba(236, 234, 228, 1);
	padding-top: 400px;

	h3 {
		position: absolute;
		top: 10%;
		left: 0;
		text-transform: uppercase;
		color: #333;
		font-size: 7rem;
		letter-spacing: -0.05em;
	}

	> span {
		position: absolute;
		top: 30%;
		right: 0;
		font-size: 2rem;
		color: $text;
		letter-spacing: -0.05em;
	}

	.inner {
		width: 1180px;
		opacity: 0;
		transition: 1s;
		position: relative;
		margin: 0 auto;

		&::after {
			overflow: hidden;
		}

		article {
			float: left;
			width: 280px;
			height: 400px;
			margin-right: 20px;
			position: relative;
			transition: transform 0.5s;
			transition-duration: 0.5s;
			transform: translateY(100px);
			overflow: hidden;
			cursor: pointer;

			@for $i from 0 to 4 {
				&:nth-of-type(#{$i + 1}) {
					transition-delay: 0.2s * $i;
				}
			}

			&:nth-of-type(4) {
				margin-right: 0;
			}
			.pic {
				width: 100%;
				height: 100%;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transform: scale(1.4);
				}
			}
		}
	}

	&.on .inner {
		opacity: 1;
	}

	&.on article {
		transform: translateY(0px);
		opacity: 1;
	}
}

@media screen and (max-width: $tablet) {
	figure.Vid {
		h3 {
			font-size: 5vw;
		}

		> span {
			top: 20%;
			font-size: 1.5rem;
		}

		.inner {
			width: 100%;

			article {
				float: left;
				width: calc(50% - 10px);
				height: 200px;
				margin-right: 20px;
				margin-bottom: 20px;

				&:nth-of-type(2),
				&:nth-of-type(4) {
					margin-right: 0px;
				}

				.pic {
					width: 100%;
					height: 100%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: scale(1.4);
					}
				}
			}
		}

		&.on .inner {
			opacity: 1;
		}

		&.on article {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

@media screen and (max-width: $mobile) {
	figure.Vid {
		padding-top: 0;
		h3 {
			font-size: 4vw;
		}

		> span {
			top: 20%;
			font-size: 1.5rem;
		}

		.inner {
			width: 100%;

			article {
				float: left;
				width: 100%;
				height: 200px;
				margin-right: 0;
				margin-bottom: 20px;

				&:nth-of-type(2),
				&:nth-of-type(4) {
					margin-right: 0px;
				}

				.pic {
					width: 100%;
					height: 100%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transform: scale(1.4);
					}
				}
			}
		}

		&.on .inner {
			opacity: 1;
		}

		&.on article {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}
