figure.visual {
	width: 100%;
	height: 4500px;
	background: rgb(236, 235, 234);
	background: radial-gradient(
		circle,
		rgba(236, 235, 234, 1) 0%,
		rgba(245, 208, 209, 0.6489189425770308) 33%,
		rgba(236, 240, 240, 1) 66%,
		rgba(236, 234, 228, 1) 100%
	);
	color: $text;
	position: relative;
	padding-bottom: 500px;

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	.text {
		position: absolute;
		top: 10%;
		left: 10%;
		transform: translateY(-50%);
		.title {
			h2 {
				font-family: 'Fraunces', serif;
				font-size: 8rem;
				font-weight: 400;
				text-transform: uppercase;
			}
		}

		.sub-title {
			display: flex;
			justify-content: space-between;
			position: relative;

			&::after {
				content: '';
				width: 20%;
				height: 1px;
				background-color: $bg;
				position: absolute;
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
			}
			span {
				margin-top: 20px;
				font-size: $fontL;
			}
		}
	}

	.headliner {
		float: left;
		position: relative;
		width: calc(60% - 50px);
		margin-top: 1000px;
		margin-left: 50px;

		.artist {
			width: 40%;
			height: 600px;
			float: left;
			margin-bottom: 500px;

			&:nth-of-type(even) {
				transform: translate(100px, 550px);
			}

			.img {
				width: 100%;
				height: 100%;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: grayscale(0.4);
				}
			}

			.content {
				margin-top: 20px;
				transition: 0.5s;

				span {
					color: $text;
					font-size: $fontXXL;
					font-weight: bold;
				}
			}
		}
	}

	.vid {
		position: sticky;
		top: 5%;
		width: 40%;
		float: right;
		margin-top: 6%;

		.content {
			video {
				width: 700px;
				height: 800px;
				background-color: $bg;
				object-fit: cover;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	figure.visual {
		width: 100%;
		height: 4500px;
		color: $text;
		padding-bottom: 500px;

		.headliner {
			width: 100%;
			margin-left: 0;

			.artist {
				width: calc(50% - 10px);

				&:nth-of-type(even) {
					transform: translateY(550px);
					margin-left: 20px;
				}
			}
		}

		.vid {
			display: none;
		}
	}
}

@media screen and (max-width: $mobile) {
	figure.visual {
		.text {
			.title {
				h2 {
					font-size: 4rem;
				}
			}

			.sub-title {
				display: block;

				&::after {
					display: none;
				}
				span {
					display: block;
					margin-top: 20px;
					font-size: $fontL;
				}
			}
		}

		.headliner {
			width: 100%;
			margin-left: 0;

			.artist {
				width: 100%;
				margin-bottom: 100px;

				&:nth-of-type(even) {
					transform: none;
					margin-left: 0px;
				}
			}
		}

		.vid {
			display: none;
		}
	}
}
