.Join {
	> .inner {
		article {
			margin-bottom: 50px;
			textarea {
				width: 100%;
				height: 200px;
				resize: none;
				border: 1px solid #bbb;
				padding: 20px;
				margin-bottom: 20px;
			}

			label {
				font-size: $fontM;
				margin-left: 10px;
			}
		}

		form {
			table {
				width: 100%;
				border-top: 1px solid $bg;
				border-bottom: 1px solid $bg;
				color: $text;
				tr {
					th {
						width: 20%;
						padding: 20px;
						border-bottom: 1px solid #bbb;

						&:last-child {
							border-bottom: none;
						}

						label {
							text-transform: uppercase;
						}

						input[type='reset'],
						input[type='submit'] {
							padding: 10px 30px;
							border-radius: 100px;
							background-color: $pink;
							border: none;
							font-size: $fontL;
							color: $text;
							font-weight: bold;
						}

						input[type='submit'] {
							background-color: $green;
							margin-left: 30px;
						}
					}

					td {
						padding: 20px;
						border-bottom: 1px solid #bbb;

						textarea {
							resize: none;
						}

						input[type='text'],
						input[type='password'],
						textarea {
							width: 100%;
							padding: 20px;
							border: none;

							&:focus,
							&:active {
								border: none;
								border-bottom: 1px solid #ccc;
								outline: none;
							}
						}

						input[type='radio'],
						input[type='checkbox'] {
							margin-right: 20px;
						}

						label {
							margin-right: 10px;
						}
						span {
							color: #ff6666;
							font-size: $fontS;
							margin-left: 20px;
						}
					}
				}
			}
		}
	}
}
