.Notice {
	> .inner {
		> article {
			width: 100%;
			border-top: 1px solid $bg;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			.notice-title {
				width: 30%;
				float: left;
				padding: 20px;

				h3 {
					font-size: $fontXXXL;
					color: $text;
				}
			}

			.list {
				width: 70%;
				float: right;
				padding: 20px;

				ul li {
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 1px solid #dcdcdc;
					padding: 20px;

					p {
						color: $bg;
						font-size: $fontXL;
						float: left;
					}

					span {
						display: block;
						float: right;
						width: 50px;
						height: 50px;
						background-color: $bg;
						color: $white;
						font-size: $fontXL;
						border-radius: 50%;
						line-height: 50px;
						text-align: center;
						transition: 0.5s;
						cursor: pointer;

						&:hover {
							background-color: #000;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Notice {
		> .inner {
			> article {
				.notice-title {
					width: 100%;
					padding: 20px;

					h3 {
						font-size: $fontXXL;
					}
				}

				.list {
					width: 100%;

					ul li {
						p {
							font-size: $fontL;
						}

						span {
							width: 40px;
							height: 40px;
							line-height: 40px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.Notice {
		> .inner {
			> article {
				.notice-title {
					h3 {
						font-size: $fontXL;
					}
				}

				.list {
					ul li {
						cursor: pointer;

						&:hover {
							p {
								font-size: 16px;
							}
						}
						p {
							font-size: $fontM;
							transition: 0.4s;
						}

						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
